@model ShopCartViewModel
<div class="container">
    @foreach(var el in Model.ShopCart.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль: </b>@el.Car.Name<br/>
            <b>Цена: </b>@el.Car.Price.ToString("c")
        </div>
    }
    <hr/>
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>
